body{
    background-color: rgb(80, 255, 255);
}

h1{
    color: rgb(36, 27, 136);
    font-size: 50px;
    margin-bottom: 50px;
}
p{
    color: rgb(77, 55, 22);
    font-size: 20px;
    
}
button{
    background-color: rgb(111, 666, 666);
    padding: 15px 55px;
    margin: 15px;
    color: rgba(85, 140, 111, 1.151);
    font-size: 15px;
    border: 7px solid rgb(170, 282, 669);
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover{
background-color: transparent;
border-radius: 20px;
transition: 0.1;
/*transform: rotate(-360deg);  rotación del boton"Posible aplicacion en otras sircustancias"*/

}


section{
    width: 100%;
    min-height: 100vh;
    margin: 0;
    text-align: center;
    padding: 50px 0;
    background:url("../Img/2318.jpg");
    background-size: cover;
    
}